:root {
  --primary-color: rgba(100, 150, 100, 0.5);
  --hover-color: rgba(100, 150, 100, 0.7);
}

html {
  background: url("../images/mtidabase.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* min-height: 2000px; */
  flex-wrap: wrap;
}

* {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

img {
  margin: 5%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  background-color: var(--primary-color);
  z-index: 99;
  text-align: center;
  flex-wrap: wrap;
}

header h1 {
  width: 100%;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  color: black;
  width: 10%;
}

header nav ul li a:hover {
  background-color: var(--hover-color);
}

header a {
  text-decoration: none;
}

.about-me {
  background-color: var(--primary-color);
  position: start;
  margin: 5%;
}

.projects {
  background-color: var(--primary-color);
  margin: 5%;
}

.contact {
  background-color: var(--primary-color);
  margin: 5%;
}
