/* General Rules */
:root {
  --primary-color: rgba(70, 186, 70, 0.7);
  --hover-color: rgba(70, 186, 70, 0.9);
}

html {
  background: url("../images/mtidabase.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-wrap: wrap;
}

* {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
/* General Rules End*/

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  background-color: var(--primary-color);
  z-index: 99;
  text-align: center;
  flex-wrap: wrap;
}

header h1 {
  width: 100%;
  display: block;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

header nav ul li a {
  margin: 10px 20px;
  color: black;
  text-align: center;
}

header nav ul li a:hover {
  background-color: var(--hover-color);
}

header a {
  text-decoration: none;
}
/* Header End*/

/* About Me */
.about-me {
  display: flex;
  flex-wrap: wrap;
}

img {
  margin: 0;
  flex: start;
  width: 40%;
}

.about-me {
  background-color: var(--primary-color);
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

h2 {
  background-color: var(--primary-color);
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/* About Me p ??*/
p {
  flex-wrap: wrap;
  width: 50%;
  margin: 5%;
}
/* About Me End */

/*      Projects */
.projects {
  margin: 5%;
  background-color: var(--primary-color);
  margin: 5%;
  justify-content: center;
  flex-wrap: wrap;
}
/* Projects End */

/* Contact */
.contact {
  background-color: var(--primary-color);
  margin: 5%;
}
/* Contact */
